@import "../vendor/normalize-css/normalize.css";
@import "./vendor/spectrum";
@import "./_messages";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

.light-container {
  width: 100%;
  float: left;

  h2 {
    text-align: center;
    height: 30px;
  }

  .color-display {
    display: block;
    color: #bbb;
    font-size: 0.7em;
    line-height: 1em;
  }

  .sp-preview {
    width: 99%;
    height: 100px;
    margin: 0;
    padding: 0;
    border: none;
  }

  .sp-replacer {
    width: 100%;
    border: none;
    padding: 0;
  }

  .sp-dd {
    display: none;
  }
}