<div class="color-picker-page">
  <h2>Administration</h2>
  <nav>
    <a ui-sref="home">Home</a>
  </nav>

  <div class="light-container">
    <h2>Light 1
    <span class="color-display">{{ settings.light1 }}</span></h2>

    <button ng-click="randomColor()"
      class="random-button">Random color</button>

    <spectrum-colorpicker
      ng-model="settings.light1"
      options="{ containerClassName: 'color-picker-1', replacerClassName: 'color-picker-1-selector' }"
      format="'rgb'"></spectrum-colorpicker>
  </div>
</div>